.header {
    margin: 0 0 10px 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 650px;
}

.nav-list li {
    margin: 5px;
}

.nav-list li a {
    cursor: pointer;
}