<mat-card class="form-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form class="example-form" [formGroup]="loginFromCreate" *ngIf="!isLoading">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email.." formControlName="email" />
        <mat-error
          *ngIf="
          loginFromCreate.get('email')?.invalid &&
          loginFromCreate.get('email')?.touched
          "
        >
          Please enter a Email...
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <textarea
          matInput
          placeholder="Password..."
          formControlName="password"
        ></textarea>
        <mat-error
          *ngIf="
          loginFromCreate.get('password')?.invalid &&
          loginFromCreate.get('password')?.touched
          "
        >
          Please enter Description...
        </mat-error>
      </mat-form-field>
      <div class="form-btn">
        <button mat-raised-button color="primary" (click)="login()">
         Login</button
        >&nbsp;
        <button mat-raised-button color="warn" (click)="resetForm()">
          Reset
        </button>
      </div>
    </form>
  </mat-card>
  