<mat-card class="form-container">
  <h3 class="post-form-heading" *ngIf="!isLoading">Create Post Here...</h3>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="example-form" [formGroup]="postCreateForm" *ngIf="!isLoading">
    <mat-form-field class="example-full-width">
      <mat-label>Post Title</mat-label>
      <input matInput placeholder="Title..." formControlName="post_title" />
      <mat-error
        *ngIf="
          postCreateForm.get('post_title')?.invalid &&
          postCreateForm.get('post_title')?.touched
        "
      >
        Please enter a Title...
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Post Description</mat-label>
      <textarea
        matInput
        placeholder="Decription..."
        formControlName="post_description"
      ></textarea>
      <mat-error
        *ngIf="
          postCreateForm.get('post_description')?.invalid &&
          postCreateForm.get('post_description')?.touched
        "
      >
        Please enter Description...
      </mat-error>
    </mat-form-field>
    <div class="image-picker">
      <button
        type="button"
        mat-stroked-button
        type="button"
        (click)="filePicker.click()"
      >
        Pick Image
      </button>
      <input
        type="file"
        #filePicker
        (change)="uploadFile($event)"
        accept="image/*"
      />
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
      <img [src]="imagePreview" alt="postCreateForm.value.post_title" />
      <mat-icon class="close-icon" (click)="deleteImage()">close</mat-icon>
    </div>
    <div class="form-btn">
      <button mat-raised-button color="primary" (click)="addPost()">
        {{ btnText }}</button
      >&nbsp;
      <button mat-raised-button color="warn" (click)="resetForm()">
        Reset
      </button>
    </div>
  </form>
</mat-card>
<app-posts-list></app-posts-list>
