<div class="posts-list">
    <mat-accordion multi="true" *ngIf="postsList.length>0;else emptyList">
        <mat-expansion-panel *ngFor="let post of postsList" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{post?.post_title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{post?.post_description}}</p>
            <mat-action-row>
                <button mat-raised-button color="primary">EDIT</button>
                <button mat-raised-button color="warn">DELETE</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <ng-template #emptyList>
        <p class="no-post-list">No posts are available...</p>
    </ng-template>
</div>